body {
  font-family: 'Noto Sans TC', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

h1, h3 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #8C5383;
  font-weight: bold;
}

h1{
  padding-top: 60px;
  padding-bottom: 48px;
}
h3 {
  padding-top: 20px;
  padding-bottom: 16px;
}

p {
  font-size: 24px;
}
