body {
  font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3 {
  color: #8C5383;
  font-weight: bold;
}

h1{
  padding-top: 60px;
  padding-bottom: 48px;
  margin-left: 20%;
  margin-right: 20%;
}

h2{
  padding-top: 60px;
  padding-bottom: 48px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 16px;
}

h4 {
  color: red;
}

label {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 24px;
  margin-left: 20%;
  margin-right: 20%;
}

.symptom-form {
  margin-left: 20%;
  margin-right: 20%;
}

.afterSubmit, .noResults, .errorCatch {
  display: none;
}

table, th, tr, td {
  font-size: 14px;
  padding: 5px;
  border-spacing: 5px;
}

table, th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
